<h1>Hi <%= name %></h1>
<form action="/logout?_method=DELETE" method="POST">
		<label for="image-input">Choose an image:</label>
		<input type="file" id="image-input" name="image" accept="image/*">
	</form>
	<div>
		<img id="preview" src="#" alt="Image Preview">
	</div>
	<script>
		const imageInput = document.getElementById('image-input');
		const preview = document.getElementById('preview');
		
		imageInput.addEventListener('change', function() {

			const imageFile = imageInput.files[0];
		
			const reader = new FileReader();
			
			reader.addEventListener('load', function() {
				const blob = new Blob([reader.result], { type: imageFile.type });
				const fileName = 'image_' + Date.now() + '.' + imageFile.type.split('/')[1];
				window.localStorage.setItem(fileName, blob);
				const filePath = window.URL.createObjectURL(blob);
				console.log(filePath);
			});
			
			reader.readAsArrayBuffer(imageFile);
			
			const imageUrl = URL.createObjectURL(imageFile);
			
			preview.src = imageUrl;
		});

	</script>